<section class="services">
  <section class="services-list">
    <p>Services We Offer Include The Writing, Editing, or Proofreading of:</p>
    <ul>
      <li>Long-Term or Short-Term Projects</li>
      <li>Corporate Proposals, Reports, and Communication</li>
      <li>Training Materials</li>
      <li>Company Histories</li>
      <li>Employment Cover Letters and Resumés</li>
      <li>Speeches</li>
      <li>Presentations</li>
      <li>Blogs</li>
      <li>User Manuals</li>
      <li>Academic Essays</li>
      <li>TED Talks</li>
      <li>Autobiography / Biography</li>
      <li>General, Personal Business Correspondence and Reports</li>
      <li>Feature Magazine and Journal Pieces</li>
      <li>Your Own Unique Writing Need</li>
    </ul>
  </section>
  <section class="primary-services">
    <p>Writing: Creation and Development of Your Ideas in an Original Text</p>
    <p>Editing: Emphasis on Content and Subject and Making Changes to Larger Elements of the Writing; Includes Grammar, Punctuation, and Spelling.  May Require Light to Heavy Rewriting.</p>
    <p>Proofreading: The focus is on typos and includes spelling, punctuation, and surface errors.</p>
    <p>Our prices are fair, and we offer reasonable turn-around times.</p>
    <p>These will be agreed upon before work begins on your project.</p>
  </section>
</section>
