<section class="services">
  <p>Services We Offer Include The Writing, Editing, or Proofreading of:</p>
  <ul>
    <li>Long-Term or Short-Term Projects</li>
    <li>Corporate Proposals, Reports, and Communication</li>
    <li>Training Materials</li>
    <li>Company Histories</li>
    <li>Employment Cover Letters and Resumés</li>
    <li>Speeches</li>
    <li>Presentations</li>
    <li>Blogs</li>
    <li>User Manuals</li>
    <li>Academic Essays</li>
    <li>TED Talks</li>
    <li>Autobiography / Biography</li>
    <li>General, Personal Business Correspondence and Reports</li>
    <li>Feature Magazine and Journal Pieces</li>
    <li>Your Own Unique Writing Need</li>
  </ul>
</section>
